<a href="/user/facebook">Login With Facebook</a>
<div class="banner">
    <div class="container">
        <div class="banner-info text-center">
            <h2>Boost up your Local business</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting</p>
            <div class="details">
                <form>
                    <li>
                        <input type="text" class="text" value="Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Full Name';}">
                        <a class="name" href="#"></a>
                    </li>
                    <li>
                        <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
                        <a class="mail" href="#"></a>
                    </li>
                    <li>
                        <input type="text" class="text" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}">
                        <a class="num" href="#"></a>
                    </li>
                    <input type="submit" value="Request a quote">
                </form>
            </div>
        </div>
    </div>
</div>