<div class="work-section" id="work">
    <div class="container">
        <div class="work-section-head text-center wow fadeInRight" data-wow-delay="0.4s">
            <h3>How it works</h3>
            <p>Lorem Ipsum is simply dummy Business industry</p>
        </div>
        <div class="work-section-grids text-center wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-md-3 work-section-grid">
                <i class="ear-phones"></i>
                <h4>Step 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <span class="arrow1"><img src="images/arrow1.png" alt="" /></span>
            </div>
            <div class="col-md-3 work-section-grid wow fadeInUp" data-wow-delay="0.8s">
                <i class="lock"></i>
                <h4>Step 2</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <span class="arrow2"><img src="images/arrow2.png" alt="" /></span>
            </div>
            <div class="col-md-3 work-section-grid wow fadeInUp" data-wow-delay="1.2s">
                <i class="cloud"></i>
                <h4>Step 3</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <span class="arrow1"><img src="images/arrow1.png" alt="" /></span>
            </div>
            <div class="col-md-3 work-section-grid wow fadeInUp" data-wow-delay="1.6s">
                <i class="done"></i>
                <h4>Step 4</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
            <div class="clearfix"></div>
            <a class="work" href="#">Get start Now</a>
        </div>
    </div>
</div>